@use '../../../abstracts/' as *;
@use 'sass:color';

@mixin createInput($theme) {
    .input-end-button {
        @include transformCenter($left: 92%);
        color: $clr-input-neutral;

        transition: color $input-border-color-transition-duration ease-in-out;
    }

    .input {
        padding: $input-padding;
        border: none;
        border: 2px solid $clr-input-neutral;
        border-radius: $border-radius-bevelled;
    
        background-color: $theme;
    
        transition: border-color $input-border-color-transition-duration ease-in-out;
        &:is(:hover, :focus-visible) {
            // border-color: $clr-input-border-on-hov;
            box-shadow: $input-box-shadow transparentize($theme, 0.25);
        }
    
        &[data-attachments*='border-flat'] {
            border-radius: 0;
        }
    
        &[data-attachments*='border-bottom'] {
            border-top: none;
            border-left: none;
            border-right: none;
    
            border-radius: 0;
        }
    
        &[data-attachments*='shadow-none'] {
            box-shadow: none;
        }
    
        &[data-attachments*='transparent'] {
            background-color: transparent;
        }
    }

    &:is(:focus-within) {
        .input-end-button {
            color: $theme;
        }
    }
}

.input-container {
    &[data-variant='primary'] {
        @include createInput($clr-background-400);
    }

    &.drag-drop-input-container {
        background-color: transparentize($clr-primary-400, 0.7);
        
        border: 9px solid $clr-background-300;
        border-style: double;
        border-radius: 3px;

        &[data-variant='compact'] {
            max-width: 100%;
            padding: 0.4rem 0.8rem;
        }

        &[data-variant='drag-drop'] {
            padding: 1.25rem;
        }
    }
}