@use '../abstracts/' as *;

.main-container {
    max-width: min(1300px, calc(100% - 2rem));
    margin-inline: auto;
}

.song-card-container[data-preview-mode='false'] {
    grid-template-columns: repeat(auto-fill, minmax(var(--column-size), 1fr));
}

.song-card-container[data-preview-mode='true'] {
    grid-template-columns: var(--column-size);
}

.song-card-container[data-shape='spacious'] {
    --column-size: #{$song-container-spacious-column};
}

.song-card-container[data-shape='compact_y'] {
    --column-size: #{$song-container-compact-vertical-column};
}

.song-card-container[data-shape='compact_h'] {
    --column-size: #{$song-container-compact-horizontal-column};

    .card__thumbnail-container {
        max-width: #{$song-container-compact-vertical-column-max-thumbnail-width};
    }
}

// Forms
.upload-form {
    display: grid;
    max-width: 50vw;
    place-items: center;
    margin-inline: auto;
}