@use '../../abstracts/' as *;

.music-player {
    grid-template-areas: 
        "playerCloseButton playerCloseButton"
        "playerInfo playerOther"  
        "playerBarContainer playerBarContainer";
    grid-template-rows: $music-player-row-ratios;

    inset: 0;
    z-index: $z-index-4;

    .player__info {
        grid-area: playerInfo;
        background-color: $clr-background-400;
            
        .music__thumbnail {
            max-width: $music-player-thumbnail-max-width;
            border-radius: $border-radius-bevelled;
        }
    }

    .player__other {
        grid-area: playerOther;
        background-color: $clr-background-400;
    }
    
    .player__bar-container {    
        grid-area: playerBarContainer;
        background-color: $clr-background-500;

        .bar {
            top: -8px;
        }
    }
    
    .player__close-btn {
        grid-area: playerCloseButton;
    }
}

@media screen and (max-width: $breakpoint-small) {
    .music-player {
        grid-template-areas: 
        "playerCloseButton playerCloseButton"
        "playerInfo playerInfo"
        "playerBarContainer playerBarContainer";
        grid-template-rows: $music-player-row-ratios-mobile;
    }

    .player__other {
        display: none;
    }
}