@use '../../abstracts/' as *;

.primary-navbar {
    padding: $primary-navbar-padding;

    .input-container {
        max-width: $primary-navbar-input-max-width;
    }

    .navbar__user-profile {
        border: 2px solid $clr-primary-400;
        max-width: 2.75rem;
        aspect-ratio: 1;
    }

}

.secondary-navbar {
    top: 0;
    width: 100%;
    height: 100%;

    max-width: $aside-max-width;
    background-color: $clr-background-400;
}

@media screen and (max-width: $breakpoint-small) {
    .secondary-navbar {
        top: 0;
        bottom: 0;
        right: 0;
        background-color: $clr-background-400;
    
        transition: transform 200ms ease-in-out;
        z-index: $z-index-4;
        &[aria-expanded='false'] {
            transform: translateX(100%);
        }
    
        &[aria-expanded='true'] {
            transform: translateX(0%);
        }
    
    }
}